misc/*
nvim/*
shell/.config/shell/scripts/*
rofi/.config/rofi/keymaps/*
vscodium/*
!vscodium/.config/VSCodium/User/settings.json

emacs/.config/emacs/elpaca/
emacs/.config/emacs/auto-save-list
emacs/.config/emacs/transient
emacs/.config/emacs/eshell
emacs/.config/emacs/.org-id-locations
emacs/.config/emacs/bookmarks
emacs/.config/emacs/org-roam.db
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/recentf
